<div class="card card-side bg-base-100 shadow-xl mb-10">
  <div class="card-body">
    <h2 class="card-title">Discount Table</h2>

    <div class="flex justify-between">
      <app-search (emitSearch$)="filterDiscounts($event)"></app-search>
      <app-action-menu [actions]="actions" (emitAction$)="executeAction($event)"></app-action-menu>
    </div>
    <app-table [items]="(items$ | async) || []" [columns]="columns" [keys]="keys" [actions]="tableActions"
      (emitAction$)="executeTableAction($event)" (onCheck$)="onCheck($event)"></app-table>
    <app-add-discount #addDiscount></app-add-discount>
    <app-confirm-modal #confirmDeleteModal (emitSubmit$)="deleteDiscount()"></app-confirm-modal>
    <app-confirm-modal #confirmDeleteAllModal (emitSubmit$)="deleteAllDiscounts()"></app-confirm-modal>
  </div>
</div>