<div class="card card-side bg-base-100 shadow-xl mb-10">
  <div class="card-body">
    <div class="flex justify-between">
      <app-search (emitSearch$)="filterCustomers($event)"></app-search>
      <app-action-menu [actions]="actions" (emitAction$)="executeAction($event)"></app-action-menu>
    </div>
    <app-table [items]="(items$ | async) || []" [columns]="columns" [keys]="keys" [actions]="tableActions"
      (emitAction$)="executeTableAction($event)" (onCheck$)="onCheck($event)"></app-table>
    <app-add-customer #addCustomer></app-add-customer>
    <app-confirm-modal #confirmDeleteModal (emitSubmit$)="deleteCustomer()"></app-confirm-modal>
    <app-confirm-modal #confirmDeleteAllModal (emitSubmit$)="deleteAllCustomer()"></app-confirm-modal>
  </div>
</div>