<dialog #dialogModal class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Add Restock</h3>
    <div class="modal-content" [formGroup]="form">
      <label class="form-control w-full ">
        <div class="label">
          <span class="label-text">Code</span>
        </div>
        <input formControlName="date" type="date" placeholder="" class="input input-bordered w-full " />
      </label>

      <label class="form-control w-full ">
        <div class="label">
          <span class="label-text">Code</span>
        </div>
        <input formControlName="code" type="text" placeholder="" class="input input-bordered w-full " />
      </label>
      <ng-container formArrayName="products">

        @for(product of getProducts().controls; track getProducts(); let idx = $index) {
        <div class="card card-side bg-base-100 shadow-xl mt-2 mb-5">
          <div class="card-body">
            <ng-container [formGroupName]="idx">
              <label class="form-control w-full ">
                <div class="label">
                  <span class="label-text">Code</span>
                </div>
                <select formControlName="code" type="text" class="input input-bordered w-full"
                  (change)="onChangeCode(idx)">
                  <option value=""></option>
                  @for(product of (products | async); track product.code) {
                  <option [value]="product.code">{{product.code}}</option>
                  }
                </select>
              </label>
              <label class="form-control w-full ">
                <div class="label">
                  <span class="label-text">Size</span>
                </div>
                <select formControlName="size" type="text" class="input input-bordered w-full ">
                  <option value=""></option>
                  @for(size of (sizes | async); track size.code) {
                  <option [value]="size.value">{{size.value}}</option>
                  }
                </select>
              </label>
              <label class="form-control w-full ">
                <div class="label">
                  <span class="label-text">Design</span>
                </div>
                <input formControlName="design" type="text" placeholder="" class="input input-bordered w-full " />
              </label>
              <label class="form-control w-full ">
                <div class="label">
                  <span class="label-text">Available Stocks</span>
                </div>
                <input formControlName="availableStocks" type="text" placeholder=""
                  class="input input-bordered w-full " />
              </label>
              <label class="form-control w-full ">
                <div class="label">
                  <span class="label-text">Regular Price Per Bundle</span>
                </div>
                <input formControlName="regPricePerBundle" type="text" placeholder=""
                  class="input input-bordered w-full " />
              </label>
              <label class="form-control w-full ">
                <div class="label">
                  <span class="label-text">New Stock Quantity</span>
                </div>
                <input formControlName="addStock" (keyup)="computeProductPrice(idx)" type="text" placeholder=""
                  class="input input-bordered w-full " />
              </label>
              <label class="form-control w-full ">
                <div class="label">
                  <span class="label-text">Total Price</span>
                </div>
                <input formControlName="totalPrice" type="text" placeholder="" class="input input-bordered w-full " />
              </label>
              <div class="modal-action">
                <!-- if there is a button in form, it will close the modal -->
                @if(getProducts().controls.length > 1) {
                <button class="btn btn-outline" (click)="deleteProduct(idx)">Delete</button>
                }
              </div>
            </ng-container>
          </div>
        </div>
        }
      </ng-container>
      <div class="card card-side bg-base-100 shadow-xl mb-5">
        <div class="card-body">
          <h3 class="font-bold text-lg">Total Price</h3>
          <label class="form-control w-full ">

            <input formControlName="totalPrice" type="text" placeholder="" class="input input-bordered w-full " />
          </label>
        </div>
      </div>

      <button class="btn btn-accent" (click)="addProduct()">Add Product</button>

    </div>
    <div class="modal-action">
      <!-- if there is a button in form, it will close the modal -->
      <button class="btn btn-outline" (click)="onCancel()">Cancel</button>
      <button class="btn btn-accent" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</dialog>