<div class="table-container">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        @if(showCheckboxColumn) {
        <th>
          <label>
            <input type="checkbox" class="checkbox" (change)="onCheck( $event, 'all')" />
          </label>
        </th>
        }
        @for(column of columns; track column) {
        <th>
          <b>
            {{column}}
          </b>
        </th>
        }
        <th></th>
      </tr>
    </thead>
    <tbody>
      @if(!items.length) {
      <tr>
        <td [attr.colspan]="columns.length">
          <svg style="margin: auto;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
          </svg>

          <h2 style="text-align: center;"><b>No Results found</b></h2>
        </td>
      </tr>
      }
      <!-- row 1 -->
      @for( data of paginate(items); track data) {
      <tr>
        @if(showCheckboxColumn) {
        <th>
          <label>
            <input #checkbox type="checkbox" class="checkbox" (change)="onCheck($event, data)" />
          </label>
        </th>
        }

        @for(key of keys; track key) {
        @if(key === 'status') {
        <td>
          <div class="badge {{getBadge(data[key])}} gap-2 p-3">
            {{data[key]}}
          </div>
        </td>
        }
        @else {
        <td>{{data[key]}}</td>

        }

        }

        <th>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-outline m-1">Action</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
              @for(action of actions; track action) {
              <li (click)="onActionClick(action, data)"><a>{{action}}</a></li>
              }
            </ul>
          </div>
        </th>
      </tr>
      }
    </tbody>

  </table>
  <div class="flex justify-center mt-3">
    <div class="join">
      <button class="join-item btn" (click)="changePage('prev')" [disabled]="pageNumber === 1">«</button>
      <button class="join-item btn">Page {{pageNumber}}</button>
      <button class="join-item btn" (click)="changePage('next')" [disabled]="!checkPaginate(items).length">»</button>
    </div>
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-link">items: {{itemsPerPage}}</div>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li (click)="changeItemsPerPage(5)"><a>5</a></li>
        <li (click)="changeItemsPerPage(10)"><a>10</a></li>
        <li (click)="changeItemsPerPage(15)"><a>15</a></li>
      </ul>
    </div>
  </div>
</div>