@if((authService.isAuthenticated$ | async) === true) {
<app-navbar [user]="userService.user()"></app-navbar>
<app-toast></app-toast>
<div class="flex">
  <app-menu [menu]="menu"></app-menu>
  <div class="p-10 w-full overflow-auto screen-container">
    <h1 class="text-3xl font-bold">
      <span>
        <svg style="float:left; margin-top: 5px; margin-right:10px" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </svg>
        {{generalService.pageTitle()}}
      </span>
    </h1>
    <div class="flex flex-col w-full">
      <div class="divider divider-accent"></div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
}