<div class="card card-side bg-base-100 shadow-xl mb-10">
  <div class="card-body">
    <div class="flex justify-between">
      <app-search (emitSearch$)="filterOrders($event)"></app-search>
      <label class=" flex gap-2">
        <div class="label">
          <span class="label-text">Customer</span>
        </div>
        <select (change)="filterByCustomer($event)" type="text" class="input input-bordered w-full">
          <option value=""></option>
          @for(customer of (customers | async); track customer.code) {
          <option [value]="customer.code">{{customer.firstName}} {{customer.lastName}}</option>
          }
        </select>
      </label>
      @if(actions.length) {
      <app-action-menu [actions]="actions" (emitAction$)="executeAction($event)"></app-action-menu>
      }
    </div>
    <app-table [tableName]="'orderTable'" [showCheckboxColumn]="false" [items]="(items$ | async) || []"
      [columns]="columns" [keys]="keys" [actions]="tableActions" (emitAction$)="executeTableAction($event)"></app-table>
    <app-add-order #addOrder></app-add-order>
  </div>
</div>